<!DOCTYPE html>
<html xmlns:th="http://www3thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title th:text="${titulo}"></title>
</head>
<body>
<h1 th:text="${titulo}"></h1>
<table th:if="${usuarios.size()>0}">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="usuario: ${usuarios}">
				<th th:text="${usuario.nombre}"></th>
				<th th:text="${usuario.apellido}"></th>
				<th th:text="${usuario.email}"></th>
			</tr>
		</tbody>
	</table>
</body>
</html>